body{
  background-color:#cecece;
}

form {
  border: 10px solid black;
  padding: 0x;
  width: auto;
  height: 320px;
  position: relative;
}

div#wrapper {
  width: 600px; /*80%; */
  height: 80%;
  margin: 10% auto;
  background-color: #ffffff;
  padding: 3px;
  border: 1px solid black;
}

.wizard-control-area, 
#controlArea {
  position:absolute;
  bottom:0;
  background-color: #d9d9d9;
  border: 0;
  border-top: 1px solid #b8b8b8;
  margin:0;
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
}

fieldset p {
  margin-top: 2em;
}
  

fieldset {
  vertical-align: middle;
  border: none;
  margin: 5px 40px;
  position: relative;
} 
  
fieldset legend span {
  position: absolute;
  top: 5px;
  left: 0;
  font-weight: bold;
  font-variant: capitalize;
  font-style: italic;
  font-size: larger;
} 

.centered-container {
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

#confirmEmail {
  font-weight: bolder;
}


/* 
 * workaround for this webkit bug 
 * https://bugs.webkit.org/show_bug.cgi?id=35981
 */
fieldset > p:first-of-type
{
-webkit-margin-top-collapse: separate;
}

